@import "~bulma";

.navbar-item img {
  max-height: 4rem;
}

.custom-container {
  margin-top: 5rem;
}

@include desktop {
  .desktop-ml-6 {
    margin-left: 3rem;
  }

  .desktop-mt-6 {
    margin-top: 3rem;
  }
}

/* Home */
.schedule {
  overflow: auto;
}
.semester {
  margin: 1.5rem 0.5rem 0 0.5rem;
  border-radius: 5px;
  padding: 21px;
  background: #ececec;
}

.notification {
  z-index: 999;
  position: absolute;
  top: 0.5em;
  right: 0.5em;
}
.v-enter-active,
.v-leave-active {
  transition: opacity 0.5s ease;
}
.v-enter-from,
.v-leave-to {
  opacity: 0;
}

@include desktop {
  .add-semester {
    max-width: 3.5rem;
    padding-top: 2.5rem;
  }  
  .add-semester button.is-fullwidth {
    height: 100%;
  }
}

/* Semester */
@include desktop {
  .semester-header > .delete-button {
    visibility: hidden;
  }
  .semester:hover .semester-header > .delete-button {
    visibility: visible;
  }
}
.semester-header {
  display: flex;
  justify-content: space-between;
}
/* Module */
.module {
  border-radius: 5px;
  color: white;
  cursor: move;
}

.module .delete-button {
  margin-top: -0.5rem;
  margin-right: -0.5rem;
}

@include desktop {
  .module .delete-button {
    visibility: hidden;
  }
  .module:hover .delete-button {
    visibility: visible;
  }
}

/* Beautiful Progress Indicator */
.container {
  width: 12em;
}

.progress-container {
  position: relative;
  background-color: lightgray;
}

.planned-progress {
  background-color: #A0A0A0;
}

.earned-progress, .planned-progress {
  position: absolute;
  transition: width 1s ease-in-out;
}

.progress-container, .earned-progress, .planned-progress {
  height: 20px;
  border-radius: 10px;
}

.ratio-label, .planned-label {
  display: inline;
  vertical-align: text-bottom;

  font-size: 0.75em;

  padding-left: 4px;
  padding-right: 4px;
}

.planned-label {
  float: right;
  color: gray;
}

/* Focus */
.focus-missing-modules-list {
  padding: 1rem;
}
.focus-missing-modules-list li {
    margin-left: 0.75rem;
    list-style-type: circle;

}

.button-focus {
  border-radius: 0;
  @include desktop {
    justify-content: space-between;
    align-items: baseline;
  }
  @include touch {
    justify-content: space-between;
    align-items: flex-start;
  }
  height: auto;
}

.button-focus .focus-main {
  display: flex;
  width: 95%;
  @include desktop {
    justify-content: space-between;
  } 
  @include touch {
    flex-direction: column;
    align-items: flex-start;
  }
}


.button-focus .focus-aside {
align-self: center;
}


.column-focus {
  padding: 0 0 0.75rem 0;
}
.box-focus {
  border-radius: 0;
}

/* Footer */
.divider {
  border-top: 1px solid #dee2e6;
}
.social {
  color: black;
}
.social:hover {
  color: #b12061;
}