@import "~bulma";

.navbar-item img {
  max-height: 4rem;
}

.custom-container {
  margin-top: 5rem;
}

.delete-button {
  background: #d63031;
  border: none;
  border-radius: 5px;
  color: white;
  cursor:pointer;
  width: 1.25rem;
}

@include desktop {
  .desktop-ml-6 {
    margin-left: 3rem;
  }

  .desktop-mt-6 {
    margin-top: 3rem;
  }
}
